* {
    margin: 0;
    padding: 0;
}

body {

    margin: 0 auto;
    box-sizing: border-box;
}

.container_d {
    max-width: 1400px;
    display: none;
}

.container_m {
    max-width: 1023px;
}

.user-info {
    background: #003C66;
    border-radius: 10px;
}

.accordion {
    --bs-accordion-bg: rgba(255, 255, 255, 0.13);
    --bs-accordion-btn-icon: none;
    --bs-accordion-active-color: white;
    /* --bs-accordion-active-bg: #0078cc; */
    --bs-accordion-border-color: #003C66;
    --bs-accordion-inner-border-radius: none;
}

.accordion-body {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    background: #003C66;
    box-shadow: none;
}

.accordion-item {
    background-color: rgba(255, 255, 255, 0.13);
    border: none;

}

.accordion-button:focus {
    box-shadow: none;
}

.user-info__photo {
    text-align: center;
}

.user-info__block {
    margin-top: 50px;

}

.user-info__block_m {
    padding-left: 5px;
}

.user-info__block_d {
    padding-left: 29px;
}

.user-info__photo__img {
    border: 3.14286px solid #FFFFFF;
    border-radius: 50%;
}

.user-info__block__heading_main {
    color: #FFFFFF;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 31px;
    margin: 12px 29px 30px 29px;
}

.user-info__block__heading {
    color: #7AF7D9;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 26px;
}

.accordion-button {
    color: white;
    background: #003C66;
    color: white;
    padding: 0;
    height: 50px;
    box-shadow: none;
    padding-left: 80px;
}

.user-info__block__item {
    color: #FFFFFF;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 8px;
    padding-left: 10px;

}

.user-info__block__item:hover {
    color: #7AF7D9;
}

hr {
    color: rgba(255, 255, 255, 0.7);
    height: 1px;
    opacity: 100%;
}

.user-info__block__item__location {
    background: url(../images/Frame\ 22.svg) no-repeat center;
    width: 23px;
    height: 24px;
    border: none;
}

.user-info__block__item__location:hover {
    background: url(../images/location-hover.svg) no-repeat center;
    width: 23px;
    height: 24px;
    border: none;
}

.user-info__block__item__phone {
    background: url(../images/phone\ 1.svg) no-repeat center;
    width: 23px;
    height: 24px;
    border: none;
}

.user-info__block__item__phone:hover {
    background: url(../images/phone-hover.svg) no-repeat center;
    width: 23px;
    height: 24px;
    border: none;
}

.user-info__block__item__email {
    background: url(../images/mail\ 1.svg) no-repeat center;
    width: 23px;
    height: 24px;
    border: none;
}

.user-info__block__item__email:hover {
    background: url(../images/email-hover.svg) no-repeat center;
    width: 23px;
    height: 24px;
    border: none;
}

.card {
    margin: 0 0 0 -40px;
    padding: 0;
}

a {
    text-decoration: none;
}

.user-info__block__item>ul>li {
    color: #6be0cb;
    list-style-position: inside;
    line-height: 107%;
    margin-left: -40px;
}

li::marker {
    font-size: 1.3rem;
}

.user-info__block__item>ul>li>a {
    margin-left: -25px;
    vertical-align: sub;
}

.user-info__block__heading_smal {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 107.57%;
    color: #7AF7D9;
}

.user-intita-details {
    padding-left: 40px;
}

.user-intita-details__block {
    box-shadow: 2px 8px 30px rgba(210, 216, 233, 0.5);
    border-radius: 10px;

}

.user-intita-details_first {
    margin-bottom: 30px;
}

.public-oferta {
    max-width: 390px;
    height: 100px;
    margin-right: 20px;
}

.public-oferta_m {
    height: 100px;
    margin: 0 auto;
    width: 300px;
}

.progress-block {
    max-width: 720px;
    height: 100px;
    padding: 0 30px;
}

.progress-block_m {
    width: 300px;
    height: 100px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 20px;
}

.public-oferta__icon {
    background: linear-gradient(180deg, #009EFF 0%, #0971E6 100%);
    border-radius: 50%;
    width: 74px;
    height: 74px;
    margin-left: 30px;
}

.public-oferta__icon_m {
    background: linear-gradient(180deg, #009EFF 0%, #0971E6 100%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.public-oferta__icon_m:hover {
    background: linear-gradient(180deg, #009EFF 0%, #074C9A 100%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.public-oferta__icon_btn_m {
    border: none;
    background: url(../icons/oferta_mob.svg) no-repeat center;
    border-color: white;
    width: 60px;
    height: 60px;
}

.public-oferta__icon:hover {
    background: linear-gradient(180deg, #009EFF 0%, #074C9A 100%);
    border-radius: 50%;
    width: 74px;
    height: 74px;
    margin-left: 30px;
}

.public-oferta__icon_btn {
    border: none;
    background: url(../images/google-docs\ 1.svg) no-repeat center;
    width: 74px;
    height: 74px;
}

.modal-content {
    max-width: 700px;
    margin: 0 auto;
}

.modal__button {
    border-radius: 10px;
    width: 100px;
    float: right;
}

.public-oferta__title {
    padding-left: 20px;
}

.public-oferta__title_m {
    padding-left: 20px;
}

.public-oferta__title_m>a {
    color: white;
}

.user-intita-details__title {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 26px;
    color: #535353;
}

.progress_title {
    color: white;
}

.user-intita-details__title:hover {
    color: #074C9A;
}

.progress-bar {
    background: linear-gradient(90deg, #0971E6 0%, #019CFE 100%);
    border-radius: 10px;
    max-width: 660px;
}

.tab {
    height: 100px;
    margin-bottom: 30px;
}

.tablinks {
    height: 30px;
    width: 130px;
    border: none;
    cursor: pointer;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #788387;
    background: inherit;
    margin-right: 20px;
}

.tab button:hover {
    background: #0971E6;
    color: white;
}

.tab button.active {
    color: #0E7BF6;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    text-underline-offset: 10px;
}

.tabcontent {
    display: none;
    width: 100%;
    height: 600px;
    margin-right: 0px;
    padding: 30px;
}

.feedback>p {
    border: 4px double #0971E6;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 8px 30px #D2D8E9;
}

.feedback_m {
    color: white;
}

.diploma>img {
    max-height: 500px;
    box-shadow: 2px 8px 30px #D2D8E9;
}

.diploma_m>img {
    max-height: 350px;
    box-shadow: 2px 8px 30px #D2D8E9;
}

.user-intita-details__servise__title>span {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #0971E6;
    margin-bottom: 40px;
}

.user-intita-details__servise__title hr {
    color: #0971E6;
    transform: scaleY(2);
    width: 800px;
    margin-left: 20px;
}

.servise-card {
    box-shadow: 2px 8px 30px #D2D8E9;
    border-radius: 10px;
    max-width: 500px;
    height: 188px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

}

.servise-card__body {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.servise-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    padding: 0px 20px;
}

.servise-card__title>a {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
}

.servise-card__academy {
    border-radius: 4px;
    background-color: #EDF3FC;
    max-width: 180px;
    height: 30px;
}

.servise-card__academy>a {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #135BAB;
}

.servise-card__logo {
    display: flex;
    justify-content: right;
    min-width: 104px;
    height: auto;
    align-items: center;
}

.servise-card__footer {
    width: 100%;
    background: #0078CC;
    border-radius: 0px 0px 10px 10px;
    height: 40px;
    margin: 0 auto;
    align-self: flex-end;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.servise-card__footer:hover {
    background: #003C66;
}

.servise-card__footer__lang {
    display: flex;
    flex-direction: row;
}

.lang>a {
    color: white;
}

.btn {
    border: none;
}

.dropdown>ul {
    padding: 0;
}

.dropdown-menu {
    height: 40px;
    --bs-dropdown-min-width: 3rem;

}

.dropdown-menu>li>a:hover {
    color: white;
    background-color: #003C66;
    border-radius: 5px;
}

.dropdown-toggle::after {
    vertical-align: 0px;
}

.dropdown-menu>li>a {
    color: #0078CC;
}

.servise-card_hover>a:hover {
    color: white;
    background-color: #003C66;
}

.servise-card__footer__level>img {
    vertical-align: baseline;
}

.social-net-intita {
    position: fixed;
    top: 45%;
    right: 5px;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px 0px 0px 10px;
    width: 56px;
    height: 124px;
}

.social-net-intita__item {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
}

.social-net-intita_m {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    max-width: 200px;
    margin: 0 auto;
}

.social-net-intita__item_m {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;

}

.social-net-intita__item_m>img {
    border-radius: 5px;
    border: 1px solid #7AF7D9;
}

@media (min-width: 769px) {

    .container_d {
        display: block;
    }

    .container_m {
        display: none;
    }
}